@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap" rel="stylesheet');
.mainpage{width: 90%; height: 100vh; margin: auto; font-family:  'Hanalei Fill', cursive; }

.mainpage h1 { margin: 0; padding: 20px 0; text-align: center;}
.mainpage button {margin: auto; padding: 20px;text-align: center;}

.Demostyle img {
    width:  200px; height: 200px;
}