body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video{
    object-fit: cover;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    background-color: #1C1E20;
    color: #D2D2D2;
    display: grid;
    justify-content: center;
    padding: 5px;
}

.main__controls__block {
    display: contents;
    justify-content: center;
    align-items: center;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.unmute, .stop {
    color: #CC3B33;
}